html {
  background: radial-gradient(grey, blue);
  color: white;
  padding-top: 50px;
  text-align: center;
}

#main {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  height: 12em;
  width: 10em;
  text-align: center;
}

#circle {
  margin-top: 20px;
  background-color: #ff6347;
  background-color: rgb();
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

#note {
  margin-top: 20px;
  text-align: center;
  width: 200px;
}
